html{
    
}
main{
   background-color: blueviolet;
    color: darkslategrey;
    height:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 70vh;
    align-items: center;
    justify-content: center;
    margin-left: 8rem;
    
}
body{
    background-color: rgb(35,35,35);
}
/*Headers*/
header
{
    height: 5%;
    background-color: rgb(35,35,35);
}
h1{
    color: lightgrey;
    font-size: 5em;
    text-align: center;

}
h2{
    color: rgb(208,208,208);
    font-size:3em;
    text-align: center;
    padding: 10px;
}
footer
{
    background-color: rgb(35,35,35);
    height: 5%;
    color: rgb(208,208,208);
    
}
/*Classes*/
.wrapper
{
margin-left:-100px;
display: flex;
}
.stuff
{
    position: relative;
    left: 1px;
    flex:1;
}
.subtext
{
    text-align: center;
}
.inputbox
{
    display: flex;
    flex: 2;
    align-items: center;
    flex-direction: column;
    
}
/*Misc*/
form{
    width: auto;
    height: 100%;
    flex-direction: column;
    margin-left: 4rem;
    margin-top:2rem;
}
input{
    width: 35vw;
    color:black;
    text-decoration-color: black;
    text-emphasis-color: black;
    background-color: beige;
    height: 60;
    margin-bottom: 1em;
}
@media (max-width:600px) {
    
    input{
        width: 70vw;
    }
    main{
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        margin-right:2rem;
    }
    form{
        margin-left: 2rem;
    }
}
