
main{
   background-color: rgb(152, 83, 216);
    color: darkslategrey;
    margin: auto;
    padding: 5vh;
    border-radius: 1.5rem;
    /* display: grid;
    gap:1.5rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr; */
}

article{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
    border-radius: .5rem;
    background-color: rgb(72, 22, 100);
    padding:2rem;
}
body{
    background-color: rgb(35,35,35);
}
/*Headers*/
header
{
    width: 100%;
    /* justify-content: flex-start;
    display: flex; */
    /* flex-shrink: 1; */
    background-color: rgb(92, 86, 86);
    

}
h1{
    color: lightgrey;
    position: inherit;
    
}
h2{
    color: rgb(208,208,208);
    font-size:3em;
    text-align: center;
    padding: 10px;
}
h3{
    color: rgb(208,208,208);
    font-size: 1.5rem;
    text-align: center;
    margin: 0%;
}
p{
    color: rgb(208,208,208);
}
footer
{
    background-color: rgb(35,35,35);
    height: 10vh;
    color: rgb(208,208,208);
    
}
/*Classes*/
.grid-col-span-2{
    grid-column-start: 2;
    grid-column-end:4;
}
.checkout-box{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
}

.inputbox
{
    display: flex;
    flex: 2;
    align-items: center;
    flex-direction: column; 
}
.line
{
    border-style: solid;
    border-color:rgb(208,208,208);
    border-width: 1px;
}
.checkout
{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.checkout-plan-description,.cart-total
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Misc*/
form{
    width: auto;
    height: 100%;
    grid-column: span 2;
}
input,.create-account{
    min-width: 80%;
    flex-grow: 1;
    color:black;
    text-decoration-color: black;
    font-size:2rem;
    
    text-emphasis-color: black;
    background-color: rgb(129, 129, 121);
    min-height:3rem;
    margin-bottom: 1em;
    border-radius: .5rem;
    border-style: solid;
    border-color:transparent;
}
.create-account
{
    background-color: rgb(208,208,208);
}
section{
   border-style: solid;
   border-color: transparent;
   flex-grow: 0.5;
   
}
@media (max-width:725px) {

    /* .checkout-box{
        grid-row-start: 2;
        grid-column:span 3;
    }
    .grid-col-span-2
    {
        grid-column: span 3;
        grid-row:1;
    } */
    article{
        display: flex;
        flex-direction: column;
    }
    h2{
        font-size: 2rem;
    }
    input,.create-account{
        min-width: 95%;
        font-size: 1.5rem;
        margin-left :-1rem;
    }
}
@media (min-width:1200px) {
    main{
        padding-left: 20vw;
        padding-right: 20vw;

    }
    
}
@media (max-width:375px)
{
input.create-account{
    max-width: 95%;
    font-size: 1.25rem;
}
}

@media (max-width:390px) 
{
    input,.create-account{
        max-width:100%;
        flex-grow:1;
        margin: auto;
        margin-bottom: 1rem;
    }
    
}